.App {
  text-align: center;
}

header {
  border: 2px solid brown;
  margin: 2px;
}

nav {
  border: 2px solid red;
  margin: 2px;
}

main {
  border: 2px solid green;
  margin: 2px;
}

footer {
  border: 2px solid blue;
  margin: 2px;
}
